<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>СТИХИЯ</title>
<meta name="ROBOTS" content="index, nofollow" />
<link href="/images/style.css" rel="stylesheet" type="text/css">
<!--[if lt IE 7]>
<link rel="stylesheet" href="/images/ie-style.css" type="text/css" />
<![endif]-->
</head>

<body id="home">
<table width="100%" height="100%" border="0" align="center" cellpadding="2" cellspacing="0">
<tr>
    <td colspan="2" valign="bottom" class="logo">
		<ul id="nav">
		  <li id="nav-home"><a href="/"></a></li>
		</ul>	
	</td>
    <td rowspan="2" width="250px" valign="top" class="menuright">
	
	<img src="/images/clock.gif" />
	<div class="base-menu">
	<ul>
		<li>
			<h2>О нас</h2>
			<p>Наша компания молодая и процветающая. Но уже довольно широко известная в определённых кругах. Мы надеемся, что основное мнение о нашей компании выскажете Вы - наши Читатели и Заказчики, которых мы очень любим и ценим.</p>
		    </li>
	
		<li></li>
	</ul>
	</div>
	<div class="base-menu">
      <ul>
        <li>
          <h2>Миссия</h2>
          <p>Мы пришли к Вам, дорогие наши, чтобы помочь Вам сделать мир в Ваших семьях и коллективах немножко добрее и веселее. Чтобы вложить все Ваши чувства в прекрасные стихи, которые, не сомневаемся, понравятся Вашим родным и близким. Будьте счастливы!</p>
        </li>
        <li></li>
      </ul>
    </div>
	<div class="base-menu">
		<h2><a href="/zk/">Заказать!</a></h2>
    </div>	<p>&nbsp;</p></td>
</tr>
<tr>
    <td width="250px" valign="top" nowrap class="menuleft">
		<h3>Разделы</h3>
			<ul>
				<li><a href='/dr/'>День Рождения</a></li>
				<li><a href='/ub/'>Юбилей</a></li>
				<li><a href='/sv/'>Свадьба</a></li>
				<li><a href='/ny/'>Новый Год</a></li>
				<li><a href='/8m/'>8 марта</a></li>
				<li><a href='/23/'>23 февраля</a></li>
				<li><a href='/dp/'>День Победы</a></li>
				<li><a href='/da/'>День Ангела</a></li>
				<li><a href='/dv/'>День Св. Валентина</a></li>
				<li><a href='/bl/'>Благодарность</a></li>
				<li><a href='/sh/'>Школьные встречи</a></li>
				<li><a href='/ch/'>Частушки</a></li>
				<li><a href='/rk/'>Реклама</a></li>
				<li><a href='/ak/'>Акростих</a></li>
			      </ul>
				  
				  <br />
	</li>
	  </ul>
	</td>
<td valign="top" class="content">
         {{ content }}
</td>
</tr>
</table>
<div id="footer">Все права защищены. | дизайн <a href="http://ralex.com.ru/">rAlex</a></div>
</body>
</html>
